/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 * 
 * Totem Keyboard - Converted from QMK
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layer definitions
#define _COLEMAK 0
#define _LOWER   1
#define _RAISE   2
#define _ADJUST  3

/ {
    macros {
        // Screenshot macro (adapts to OS)
        snap: snap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LG(LC(N4)))>;  // Mac default, adjust in keymap for Windows
        };
    };

    behaviors {
        // Home row mods - Colemak
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        // Layer taps
        lt_long: layer_tap_long {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Colemak-DH
        colemak_layer {
            bindings = <
                         &kp Q       &kp W       &kp F        &kp P        &kp B          &kp J       &kp L        &kp U        &kp Y        &kp SEMI
                         &hm LGUI A  &hm LALT R  &hm LCTRL S  &hm LSHFT T  &kp G          &kp M       &hm RSHFT N  &hm LCTRL E  &hm LALT I   &hm LGUI O
            &kp Q        &kp Z       &kp X       &kp C        &kp D        &kp V          &kp K       &kp H        &kp COMMA    &kp DOT      &kp SLASH    &kp SEMI
                                                 &lt_long _LOWER DEL  &lt_long _LOWER SPACE    &lt_long _RAISE RET  &lt_long _ADJUST TAB
            >;
        };

        // Layer 1: Lower (Numbers & Navigation)
        lower_layer {
            bindings = <
                         &kp CAPS    &kp KP_NUM  &kp UP      &kp EQUAL    &kp LBRC       &kp RBRC    &kp N7       &kp N8       &kp N9       &kp PLUS
                         &kp SQT     &kp LEFT    &kp DOWN    &kp RIGHT    &kp LBKT       &kp RBKT    &kp N4       &kp N5       &kp N6       &kp MINUS
            &snap        &kp END     &kp PG_UP   &kp LC(S)   &kp PG_DN    &kp LPAR       &kp RPAR    &kp N1       &kp N2       &kp N3       &kp STAR     &trans
                                                 &trans      &trans       &trans         &mo _ADJUST &kp N0
            >;
        };

        // Layer 2: Raise (Symbols & Special Characters)
        raise_layer {
            bindings = <
                         &kp EXCL       &kp AT         &kp HASH       &kp DLLR       &kp PRCNT      &kp CARET    &kp AMPS     &kp RA(U)    &kp RA(N3)   &kp BSLH
                         &kp RA(A)      &kp RA(F)      &kp RA(S)      &kp RA(G)      &none          &none        &kp LS(RA(N4)) &kp RA(N5) &kp RA(N4)   &kp RA(O)
            &none        &kp LS(GRAVE)  &kp TILDE      &kp RA(C)      &none          &none          &none        &none        &none        &none        &none        &none
                                                       &trans         &mo _ADJUST    &trans         &trans       &trans
            >;
        };

        // Layer 3: Adjust (Functions, System)
        adjust_layer {
            bindings = <
                         &bootloader  &none       &none       &none       &none          &none       &kp F7       &kp F8       &kp F9       &kp F12
                         &none        &none       &none       &none       &none          &none       &kp F4       &kp F5       &kp F6       &kp F11
            &none        &none        &none       &none       &none       &none          &none       &kp F1       &kp F2       &kp F3       &kp F10      &bootloader
                                                  &trans      &trans      &trans         &trans      &trans
            >;
        };
    };
};
